body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: background-color 0.5s ease; /* transition effect */
}

canvas {
    flex: 1;
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    width: 100%;
}