canvas {
    display: block;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: background-color 0.5s ease; /* Dark/Light Mode Transition */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}